<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1" >
    <listeners>
        <listener class-name="live.hrm.orange.customlisteners.CustomListeners"></listener>
    </listeners>
    <test name="All Tests" >
        <classes>
            <class name="live.hrm.orange.testsuite.LoginTest"></class>
            <class name="live.hrm.orange.testsuite.UserTest"></class>
        </classes>
    </test>
</suite>